[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Demend
[access "refs/for/refs/*"]
	read = group user/Demend
	push = group user/Demend
	label-Code-Review = -2..+2 group user/Demend
	label-Verified = -1..+1 group user/Demend
	rebase = group user/Demend
	removeReviewer = group user/Demend
	submit = group user/Demend
[access "refs/heads/*"]
	read = group user/Demend
	create = group user/Demend
	push = +force group user/Demend
	pushMerge = group user/Demend
[access "refs/tags/*"]
	push = +force group user/Demend
	pushTag = group user/Demend
	pushSignedTag = group user/Demend
